{# ------------------------------------------------------- #}

{# YOUR BASE TEMPLATE. EVERYTHING GETS LOADED INTO THIS PAGE. #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {# Grab the title and description from the CMS general settings. #}
  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ site_title|default('Webhook site') }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ site_description|default('Built with Webhook.') }}{% endblock %}">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon icon-precomposed" href="/static/images/apple-touch-icon.png"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">

    {# Put your CSS in here and we'll minify it into one file. No CDN scripts. More info: #}
    {# http://www.webhook.com/docs/minify-your-js-and-css/ #}

    <!-- build:css /static/css/minified.css -->
    <link rel="stylesheet" href="/static/css/app.css"/>
    <link rel="stylesheet" href="/static/css/wysiwyg_figures.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/chocolat.css"/>
    <link rel="stylesheet" href="/static/css/hamburgler.css"/>
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    {# Useful block for loading outside scripts in other pages. #}
    {% block head_extra %}{% endblock %}

  <script src="/static/javascript/main.js"></script>
  <script src="/static/javascript/lazysizes.min.js" async=""></script>
  <script src="/static/javascript/fastclick.js" ></script>
  <script src="/static/javascript/instafeed.min.js" ></script>


  </head>

    <body {% if page_class %}class="{{ page_class }}"{% endif %}>
    {% block body %}

    <div class="mobilenav">
  <li><a href="#">Never</a></li>
  <li><a href="#">Gonna</a></li>
  <li><a href="#">Give</a></li>
  <li><a href="#">You</a></li>
  <li><a href="#">Up</a></li>
</div>

<a href="javascript:void(0)" class="icon">
  <div class="hamburger">
  <div class="menui top-menu"></div>
  <div class="menui mid-menu"></div>
  <div class="menui bottom-menu"></div>
  </div>
</a>

      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      {% include "templates/partials/header.html" %}



      <div id ="right-container">

        <a href="#" class="icon">
            <div class="hamburger">
            <div class="menui top-menu"></div>
            <div class="menui mid-menu"></div>
            <div class="menui bottom-menu"></div>
            </div>
          </a>

      {% block content %}{% endblock %}

</div>
      {% include "templates/partials/footer.html" %}

      {# Foundation JS #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

      {# Put your JS in here and we'll minify it into one file. No CDN scripts. More info: #}
      {# http://www.webhook.com/docs/minify-your-js-and-css/ #}

      <!-- build:js /static/javascript/minified.js -->
        <script src="/static/javascript/bootstrap/bootstrap.js"></script>
        <script src="/static/javascript/jquery.chocolat.min.js"></script>
      <!-- endbuild -->
      {% block scripts_extra %}{% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

    <script src="/static/javascript/imagesloaded.pkgd.min.js"></script>

    <script src="/static/javascript/hamburgler.js"></script>




<script>
$(window).load(function() {
$(".grid-item").each(function(){
  var imageUrl = $(this).css("background-image");
  imageUrl = imageUrl.split("url")[1];
  imageUrl = imageUrl.substring(1,imageUrl.length-1);
  var image = new Image();
  image.src = imageUrl;
  var width = image.width;
  var height = image.height;
  if(width >= height)
     $(this).addClass("grid-item--landscape");
  else
     $(this).addClass("grid-item--portrait");
});

setTimeout(function(){
    var $grid = $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: 0,
    });

    $grid.imagesLoaded().progress(function () {
        $grid.masonry();
    });
},100);
});
</script>



<script>
$(document).ready(function(){
    $('.chocolat-parent').Chocolat();
});
</script>

<script>
$(".nav-trigger").click(function () {
  $(".main-nav").fadeToggle(500);
  $(".top-menu").toggleClass("top-animate");
  $(".mid-menu").toggleClass("mid-animate");
  $(".bottom-menu").toggleClass("bottom-animate");
});

</script>
<script>
$(function() {
    FastClick.attach(document.body);
});
</script>

</script>

    {% endblock %}



  </body>
</html>
