{# Simple search form, remove from search index #}
<!--<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form> -->
<div id="left-container">
<div class="logo">
  <a href="/">David Black</a>
</div>



<div class="menu">
<ul>
  <li><a href="{{ url('selectedwork') }}" {% if getCurrentUrl() == url('selectedwork') %} class="active" {% endif %}>Selected Work</a></li>
  <li><a href="{{ url('series') }}" {% if getCurrentUrl() == url('series') %} class="active" {% endif %}>Series</a></li>
  <li><a href="{{ url('commissions') }}" {% if getCurrentUrl() == url('commissions') %} class="active" {% endif %}>Commissions</a></li>
  <li><a href="{{ url('video') }}" {% if getCurrentUrl() == url('video') %} class="active" {% endif %}>Video</a></li>
  <li><a href="{{ url('information') }}" {% if getCurrentUrl() == url('information') %} class="active" {% endif %}>Information</a></li>
  <li><a href="{{ url('news') }}" {% if getCurrentUrl() == url('news') %} class="active" {% endif %}>News</a></li>
</ul>
</div>

</div>
