{# Simple search form, remove from search index #}
<!--<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form> -->
<div id="left-container">
<div class="logo">
  <a href="/">David Black</a>
</div>



<div class="menu">
<ul>
  <li><a href="/selectedwork">Selected Work</a></li>
  <li><a href="/series">Series</a></li>
  <li><a href="/commissions">Commissions</a></li>
  <li><a href="/video">Video</a></li>
  <li><a href="/information">Information</a></li>
  <li><a href="/news">News</a></li>
</ul>
</div>

</div>
