html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}


body {
color:#000;
font-family: lato;
font-size: 10.75px;
}

a {
color:black;
font-size: 12px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    color: black;
    font-family: lato;
}

.pagination a {
    color: black !important;
    font-family: lato;
    border-radius: 0px !important;
}


/* containers */

#left-container
{
  background-color: white;
  position: fixed;
  float: left;
  padding-top: 50px;
  padding-left: 15px;
  z-index: 14;
}

#right-container
{
  float: right;
  width: 70%;
  padding-top: 50px;
}

/* ---- menu ---- */

.series li a {

}

.logo
{
padding-bottom: 15px;
}

.logo a
{
  font-family: 'lato';
  font: 14.5px/18px 'lato',Times,serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  color: black;
}

.logo a:hover
{
text-decoration: none;
color:#ddd;
}

.menu {
  display: block;
  opacity: 1;
  margin-top: 10%;
}

.menu .active {
  color:grey;
}

.menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.menu li
{
      margin-bottom: 15px;
}

.menu ul li a
{
  color:black;
  font: 10.75px/13px Lato,"Helvetica",Times,serif;
letter-spacing: .5px;
line-height: 1.5;
}

.menu ul li a:hover
{
  color:#ddd;
  text-decoration: none;
}

/* ---- pagination ---- */

.pagination .active {
  color:grey !important;
}


/* ---- mobile nav ----  */

.mobilenav .active {
  color:grey;
}

.noscroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.noscroll .icon {
  right: 30px;
}

/* ---- grid ---- */

.grid {
  width: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item,
.grid-sizer {
  width: 100%;
}

.grid-item {
  overflow: hidden;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.image-item {
  width: 100%;
}

@media only screen and (min-width: 320px) {

  .grid-item,
  .grid-sizer {
    width: 100%;
    padding: 5px;
  }

}

@media only screen and (min-width: 480px) {
  .grid-item,
  .grid-sizer {
    width: 50%;
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  .grid-item,
  .grid-sizer {
    width: 50%;
    padding: 5px;
    max-width: 409px;
  }
}

@media only screen and (min-width : 992px) {
  .grid-item,
  .grid-sizer {
    width: 50%;
    padding: 5px;
    max-width: 409px;
  }
}

@media only screen and (min-width : 1200px) {
  .grid-item,
  .grid-sizer {
    width: 50%;
    padding: 5px;
    max-width: 409px;
  }
}

@media only screen and (min-width : 1400px) {
  .grid-item,
  .grid-sizer {
    width: 33.3333%;
    padding: 5px;
  }
}

@media only screen and (min-width : 1555px) {
  .grid-item,
  .grid-sizer {
    max-width: 600px;
    padding: 5px;
  }
}


/* ----- chocolat slider ---- */
.chocolat-image {
width: 100%;
height: 100%;
display: block;
}

.chocolat-overlay {
opacity: .9 !important;
}

.chocolat-bottom {

}

.chocolat-wrapper .chocolat-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    z-index: 17;
    padding-left: 15px;
    padding-right: 15px;
    background: none !important;
    text-align: left !important;
    margin-top: 10px;
    color: black;
}

.chocolat-wrapper .chocolat-set-title {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1;
    border-right: none;
    color:black;
}

.chocolat-wrapper .chocolat-pagination {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: none;
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
}

.chocolat-wrapper .chocolat-fullscreen {
    width: 16px;
    height: 40px;
    background: url(../images/fullscreen.png) 50% 50% no-repeat;
    display: block;
    margin: auto;
    cursor: pointer;
    float: right;
    display: none !important;
}

.chocolat-right {

      background: url(../images/arrow.svg) 50% 50% no-repeat !important;
      background-size: 50% !important;
}

.chocolat-left {

      background: url(../images/arrow.svg) 50% 50% no-repeat !important;
      -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
   background-size: 50% !important;

}

/* ---- list grid ---- */

.list-grid {
  max-width: 1000px;
  text-align: center;
}

.list-grid ul li {
  list-style-type: none;
}


.grid-item--portrait { height: 400px; }

.caption
{
    clear: left;
    display: block;
    text-align: left;
    font-size: 10px;
    height: 30px;
    letter-spacing: .1em;
    padding-top: 5px;
    font-family: lato;
    text-transform: uppercase;
}

.list-grid-item {
  overflow: hidden;
  margin-bottom: 20px;
}

/* ---- footer ---- */

.footer {
  clear:both;
  padding-top: 15px;
  padding-left: 15px;
}



/* ---- front page ---- */

.front-image img {

margin: auto;
display: block;

}


/* -----  news page ---- */

.publish-date {
  clear:both;
  display: block;

}

.news-container {
  max-width: 600px;
  margin: auto;
}

.news-container .post {
  margin-bottom: 30px;

}

.news-container .post a {
 color:black;
}

.news-container .post a:hover {
 color:black;
 text-decoration: none;

}

.post-title {
  text-transform: uppercase;
}

.publish-date {
  color: #858586;
  font-family: 'georgia';
  padding-bottom: 15px;
}

.news-full-post img {
width: 100%;
max-width: 600px;
}


figcaption {
    text-align: left;
    line-height: 24px;
    font-size: 10px;
}


.insta-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  display: block;
}

.insta-title:hover {
  text-decoration: none;
  color: black;
}

#instafeed {

}

#instafeed img {
  height:auto;
  max-width: 100px;
  margin-bottom: 20px;
  display:inline-block;
  padding: 5px;

}

#instafeed a {

}



/* ---- Video Page ---- */

figure[data-type=video] {
    position: relative;
    margin-bottom: 24px;
    text-align: inherit;
    clear: both;
}

.video-container
{
  font-size: 8px;
max-width: 600px;
text-align: left;
}




/* ----- Info Page ----- */

.information {
  font-family: "Lato";
  font-size: 12px;
}

.information a {
  font-family: "Lato";
  color:black;
}

.information a:hover {
  color:grey;
  text-decoration: none;
}

/* RESPONSIVE */


   /* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {

     #left-container
     {
       width: 100%;
       padding-top: 15px;
     }

     #right-container
     {
       float: right;
       width: 100%;
       padding-top: 50px;
       padding-left: 15px;
       padding-right: 15px;
     }


     .menu {
       display: none;
     }

     .logo {
    margin-bottom: 0;
    }

    .information {

    }

    .list-grid-item {
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    }

    .grid
    {
      pointer-events: none;
    }



   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

     #left-container
     {
       width: 100%;
       padding-top: 15px;
     }

     .grid
     {
       pointer-events: all;
     }

     #right-container
     {
       float: right;
       width: 100%;
       padding-top: 50px;
       position: relative;
     }

     .menu
     {
       display: none;

     }

     .logo {
    margin-bottom: 0;
    }


    .information {
    /*padding-left: 15px;*/
      padding-right: 15px;
    }

    .list-grid-item {
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0px;
    max-width: 600px;
  }

  .grid
  {
    pointer-events: none;
  }


   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {

     #left-container
     {
       width: auto;
       padding-top: 15px;
     }


     #right-container
     {
       float: right;
       width: 80%;
       padding-top: 15px;
       position: relative;
     }


     .index #right-container {
         width: 70% !important;
       }

     .menu
     {
       display: block;

     }

     .logo {
    margin-bottom: 0;
    }

    .icon
    {
      display: none !important;
    }

    .information {
      padding-left: 15px;
      padding-right: 15px;
    }


    .news-container
    {

    }

    .list-grid-item {
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    }

    .grid
    {
      pointer-events: all;
    }


   }






   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {

     #right-container
     {
       float: right;
       width: 85%;
       padding-top: 15px;
       position: relative;
     }

     .index #right-container
       {
         width: 700px !important;
         position: absolute;
         left: 280px;
       }


     .menu
     {
       display: block;
       opacity: 1;
       transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
     }

     .logo {
    margin-bottom: 0;
    }

    .icon
    {
      display: none !important;
    }


    .information {
      padding-left: 15px;
      padding-right: 15px;
    }


   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {


     #right-container
     {
       float: right;
       width: 88%;
       padding-top: 15px;
       position: relative;
     }

    .index #right-container {
      width: 700px !important;
      position: absolute;
      left: 280px;
     }

     .menu
     {
       display: block;
       opacity: 1;
       transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
     }

     .logo {
    margin-bottom: 0;
    }

    .icon
    {
      display: none !important;
    }

   }


   @media only screen and (min-width : 1370px) {
     .grid-item,
     .grid-sizer {
       max-width: 395px;
       padding: 5px;
     }

     #right-container {
       width: 90%;
     }
   }
