{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL video #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append video to the site title defined in base.html #}
{% block title %}{% parent %} - video{% endblock %}

{% block content %}

  {% set data = cms.video %}
  {% set data = data|sort('publish_date', true) %}

  <div class="list-grid">
    {% for object in data %}
      <div class="list-grid-item col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <a href="{{ url(object) }}"><img class="img-responsive" src="{{ object.cover_image|imageCrop(800, 800) }}" alt="{{ object.name }}"/></a>
          <span class="caption">{{ object.name }}</span>
        </div>
    {% endfor %}
  </div>



{% endblock %}
