{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH news #}
{# This page can use any data from http:localhost:2000/cms/#/form/news/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this news's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<div class="news-container">
<div class="post">
<div class="post-title">{{ item.name }}</div>
<span class="publish-date">{{ item.publish_date|date('F d Y') }}</span>


  <div class="news-full-post">  {{ item.post|safe }} </div>


</div>
{% endblock %}
