{# ------------------------------------------------------- #}
{# ONE OFF VIEW selectedwork #}
{# This page can use any data from http:localhost:2000/cms/#/form/selectedwork/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this selectedwork's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.selectedwork.name }}{% endblock %}
{% block content %}


  <div class="grid">
      <div class="chocolat-parent" data-chocolat-title="">
          {% for image in cms.selectedwork.gallery %}
          <div style="background-image:url('{{ image|imageSize(800) }}'); background-size:cover;" class="grid-item lazyload lazypreload" data-expand="-110">
                <a class="chocolat-image" href="{{ image|imageSize(800) }}" title="">
                <!--  <img width="100" src="{{ image|imageSize(800) }}" /> -->
                </a>
            </div>

            {% endfor %}
            </div>
</div>




{% endblock %}
